<div class="container">

<h1>Introduction</h1>

<p>
This site presents detailed results <emph>estimated</emph> for the Moreland
North-east Ward 2016 election.</p>

<p>The count and code used to perform it are based on the Austrlian Senate count method as implemented by 
<a href="https://github.com/grahame/dividebatur">dividebatur</a> 
</p>

<p>Some very big assumptions are made here:
<ol>
    <li>Only first preference counts are currently available</li>
    <li>An estimated flow of preferences is made using the registered how-to-vote card of each candidate</li>
        <ul>
            <li>This is a very crude assumption. Particularly in a progressive council like Moreland, many voters will not follow how-to-vote cards.</li>
            <li>How-to-vote cards for two candidates were not available. In these cases an preferences are assumed to flow in same order as a select aligned candidate. This may be a very poor assumption indeed.</li>
            <li>Big thanks to John Englart whose excellent <a href="https://fawkner.org/2016/10/06/who-is-standing-for-ne-ward-of-moreland-council-in-2016/">guide</a> includes the compilation of the how-to-vote card information.</li>
        </ul>
    </li>
</ol>
</p>

<p>A big shout-out to Graham Bowland for the original dividebatur to count the Australian Senate results. As with the original dividebatur code, this is completely 
open source software distributed under the <a href="https://raw2.github.com/dmkent/dividebatur-moreland/master/LICENSE">Apache License, 2.0</a>.
</p>

<h1>Counts</h1>

<p>
The following scenarios have been run:
</p>

<table class="table table-bordered">
<tbody>
<tr><th>Scenario</th><th>Description</th></tr>
<tr ng-repeat="count in counts">
<td><a href="#/scenario/{{ count.path }}">{{ count.name }}</a></td>
<td>{{ count.description }}</td>
</tr>
</tbody>
</table>

</div>
